*.log
*.pid
.DS_Store

app/.env
app/.env.*
!app/.env.example
app/.phpunit.result.cache
app/auth.json
app/bootstrap/cache/*.php
app/database/*.sqlite
app/node_modules/
app/public/build/
app/public/hot
app/public/storage/
app/storage/*.key
app/storage/logs/
app/storage/pail/
app/vendor/

payloads-whatsapp/
tmp/
